body { background: url(/confectionary.png) \#f5f7fa !important; }.page { max-width: 800px !important; }@media (max-width: 975px) {
    .sidebar { background: url(/shattered-island.png) !important; }
  }